<!DOCTYPE html>
<html>
  <head>
    <title>Movie Search Engine</title>
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" href="/images/favicon.png" />
  </head>
  <body>