<% include ../partials/header %>

    <h1>Search for a Movie</h1>
    <form action="/search">
      <input type="text" name="searchTerm" id="search_term"placeholder="Search movies by title">
      <input type="submit" id="submit_button" >
    </form>
    <p id="list_link"><a href="/watch-later">Go to Watch List</a></p>
  </body>
</html>