<!DOCTYPE html>
<html>
  <head>
    <title>Movie Search Engine</title>
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" href="/images/favicon.png" />
  </head>
  <body>
    <h1>Search for a Movie</h1>
    <form action="/search">
      <input type="text" name="searchTerm" id="search_term"placeholder="search movies by name">
      <input type="submit" id="submit_button" value="submit">
    </form>
    <p id="list_link"><a href="/watch-later">go to movie list</a></p>
  </body>
</html>