<% include ../partials/header %>

  <h1>Search Results</h1>
  <table id="results_table">
    <td>
      <% movieList.forEach(function(movie) { %>
        <p><a href="movie/<%= movie.imdbID %>"><%= movie.Title %></a>: <%= movie.Year + ", " + movie.Type %></p>
      <% }) %>
    </td>

<% include ../partials/footer %>