<% include ../partials/header %>

  <h1>Watch List</h1>
  <table id="list_table">
    <% savedMovies.forEach(function(movie) { %>
      <tr>
        <td>
          <a href="movie/<%= movie.imdbID %>"><%= movie.Title %></a>
        </td>
        <td>
          <form method="post" action="/movie/<%= movie.imdbID %>?_method=delete">
            <button>Delete</button>
          </form>
        </td>
      </tr>
    <% }) %>

<% include ../partials/footer %>