@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800);

body {
  margin: 40px auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 800;
  color: #C02942;
}

input {
  border: none;
  outline: none;
}

#search_term {
  border-bottom: 1px dotted #53777A;
  width: 200px;
  font-size: 18px;
  color: #542437;
}

#submit_button {
  margin-left: 10px;
  font-size: 16px;
  padding: 5px;
  background-color: #DFDFDF;
  color: #542437;
  width: 80px;
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: #542437;
  font-weight: 700;
}

form {
  margin: 40px;
}

img {
  height: 460px;
}

table {
  max-width: 800px;
  margin: 40px auto;
  text-align: left;
}

#movie_details h1, #movie_details p {
  padding-left: 20px;
  margin-bottom: 10px;
}

#movie_details h1 {
  font-size: 20px;
}

#movie_details p {
  font-size: 14px;
}

#movie_details ul {
  padding-left: 40px;
  font-size: 14px;
}

button, #search, #list {
  border: none;
  outline: none;
  background-color: #6B8A8C;
  color: white;
  width: 110px;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}

#movie_details form {
  margin: 0;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 20px;
}

#search, #list {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 12px;
}

#search a, #list a {
  color: white;
  font-size: 12px;
  font-weight: 300;
}

#list_table form {
  margin: 0;
  margin-left: 20px;
}

#list_table button {
  width: 60px;
}

#list_table tr {
  height: 40px;
}

#results_table p {
  margin-top: 10px;
}

#search_link, #list_link {
  text-decoration: underline;
}

#search_link a, #list_link a {
  color: #53777A;
}




