@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

body {
  margin: 40px auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 800;
  color: #C02942;
}

input {
  border: none;
  outline: none;
}

#search_term {
  border-bottom: 1px dotted #53777A;
  width: 200px;
  font-size: 16px;
  color: #542437;
}

#submit_button {
  margin-left: 10px;
  font-size: 16px;
  padding: 5px;
  background-color: #DFDFDF;
  color: #542437;
}

a {
  text-decoration: none;
  color: #542437;
  font-weight: 700;
}

#list_link a, #search_link a, #search a {
  color: #53777A;
}

form {
  margin: 40px;
}

img {
  max-width: 300px;
}

table {
  max-width: 800px;
  margin: 40px auto;
  text-align: left;
}

td form {
  margin: 0;
  padding-top: 5px;
  padding-left: 20px;
}

td p {
  padding-left: 20px;
}

#search {
  margin-top: 5px;
  margin-left: -10px;
}

.details {
  max-width: 300px;
}

a {
  margin-left: 10px;
  margin-right: 10px;
}